<% @surveys.each do |survey| %>
   <table>
      <tr>
         <th>level</th>
         <th>instrument</th>
         <th>qid</th>
         <th>answer</th>
      </tr>
      <% survey.p1answers.each do |answer| %>
         <%= render "surveys/ansrow", :survey => survey, :answer => answer %>
      <% end %>

   </table>
<% end %>

