<% @surveys.each do |survey| %>
   <ul>
      <li><%=survey.level%></li>
      <% survey.p1answers.each do |p1answer| %>
         <ul>
            <li><%=p1answer.qid%>:<%=p1answer.ans%></li>
         </ul>
      <% end %>
   </ul>
<% end %>

