<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>電腦自動演奏實驗問卷</title>
  <meta name="description" content="想聽聽看電腦彈琴會是什麼樣子嗎?" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
